<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
     integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" 
     crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>About</title>
</head>
<body>
     <!-- Navbar -->
     <nav class="navbar">
        <ul>
            <li>
                <a href="../views/home.html">Home</a>
                <a href="../views/about.html">About</a>
                <a href="../views/blog.html">Blogs</a>
                <a href="../views/contact.html">Contact</a>
            </li>
        </ul>
    </nav>

     <!-- About page -->
    <div class="about-grid">
        <!-- Education Part -->

        <div class="education">
            <span>Education</span>
            <div class="10th">Balasaheb bharde highschool,Shevgaon,Ahmednagar.</div>
            <div class="percentage">60%</div><br>
            <div class="12th">Residential Jr. College of Science,Shevgaon</div>
            <div class="percentage">60.15%</div><br>
            <div class="graduation">NBN Sinhgad School of Engineering,Ambegaon,Pune</div>
            <div class="cgpa">7.16 with first class</div>
        </div>

        <!-- Profession Part -->

        <div class="profession">
            <span>Profession</span>
            <div class="frontend">Frontend Engineer</div>
            <div class="course">Mean Stack Development Course Completed in year of 2022.</div><br>
            <div class="experience">Experience: Fresher</div>
        </div>

        <!-- Skills Part -->

        <div class="skills">
            <span>Skills</span><br>
            HTML5
            <div class="outerdiv"><div class="innerdiv"></div></div>
            CSS3
            <div class="outerdivcss"><div class="innerdivcss"></div></div>
            Javascript
            <div class="outerdivJS"><div class="innerdivJS"></div></div>
            Angular
            <div class="outerdivAng"><div class="innerdivAng"></div></div>
            NodeJS
            <div class="outerdivNode"><div class="innerdivNode"></div></div>
            MongoDB
            <div class="outerdivMongo"><div class="innerdivMongo"></div></div>
        </div>

        <div class="currentaddress">
            <span>Current Address</span>
            <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Pune,Maharashtra</p>
            <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>surajkae755@mail.com</p>
            <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>9011934949/9860690234</p>
        </div>

        <div class="mainaddress">
            <span>Permenant Address</span>
            <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Ahmednagar,Shevgaon</p>
            <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>surajkae755@mail.com</p>
            <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>9011934949/9860690234</p>
        </div>
    </div>
</body>
</html>