<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=d4vice-width, 4nitial-scale=1.0">
    <link rel="stylesheet" href="/Suraj-Portfolio/css/style.css">
    <title>Blog</title>

</head>
<body>
     <!-- Navbar -->
    <nav class="navbar">
        <ul>
            <li>
                <a href="/Suraj-Portfolio/views/home.html">Home</a>
                <a href="/Suraj-Portfolio/views/about.html">About</a>
                <a href="/Suraj-Portfolio/views/blog.html">Blogs</a>
                <a href="/Suraj-Portfolio/views/contact.html">Contact</a>  
            </li>
        </ul>
    </nav>

    <!-- Blog Page -->
     <marquee style="font-size: 1.6rem;color:white;background-color:teal;" behavior="" direction="left">Blogs is here!!</marquee>
    <div style="display: grid;
                grid-template-columns: repeat(3,370px);
                grid-gap: 10rem;
                text-align: center;" class="blog">
        <div class="travel">
            <div>Explore Travel</div>
            <img width="370px" src="/images/travels.jpg" alt="">
            <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus, excepturi.</div>

        </div>
        <div class="food">
            <div>Explore Food</div>
            <img width="400px" src="/images/food.jpg" alt="">
            <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus, excepturi.</div>

        </div>
        <div class="nature">
            <div>Explore Nature</div>
            <img width="400px" src="/images/nature.jpg" alt="">
            <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus, excepturi.</div>

        </div>
        <div class="photography">
            <div>Explore Photography</div>
            <img width="370px" src="/images/photography.jpg" alt="">
            <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus, excepturi.</div>

        </div>
        <div class="hotels">
            <div>Explore Hotels</div>
            <img height="280px" width="400px" src="/images/hotels.jpg" alt="">
            <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus, excepturi.</div>

        </div>
        <div class="cities">
            <div>Explore Cities</div>
            <img width="400px" src="/images/cities.jpg" alt="">
            <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus, excepturi.</div>

        </div>
    </div>
</body>
</html>
