<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=d45ice-width, 45itial-scale=1.0">
    <link rel="stylesheet" href="/Suraj-Portfolio/css/style.css">
    <script src="https://kit.fontawesome.com/1821b62c88.js" crossorigin="anonymous"></script>
    <title>Suraj's Portfolio</title>
</head>
<body>
    <!-- navbar -->

   <nav class="navbar">
        <ul>
            <li>
                <a href="/Suraj-Portfolio/views/home.html">Home</a>
                <a href="/Suraj-Portfolio/views/about.html">About</a>
                <a href="/Suraj-Portfolio/views/blog.html">Blogs</a>
                <a href="/Suraj-Portfolio/views/contact.html">Contact</a>  
            </li>
        </ul>
    </nav>

    <!-- Home Page -->

    <div class="container">

    <div class="Profile">Profile</div>

    <div class="text">
            <div class="hi">Hi,</div>
            <span>This is</span>
            <h4>Suraj Kale</h4>
            <span>Engineer,Web Developer</span>
    </div>

    <img class="homeimg" src="../images/profile.jpg" alt="">
    <a class="btn" href="/Suraj Developer.pdf" download="">Download CV</a><br>

        <div class="icons">
            <a class="facebook" target="_blank" href="https://www.facebook.com/suraj.kale.315428?mibextid=ZbWKwL">
                <i class="fa-brands fa-facebook"></i></a>
            <a class="linkedin" target="_blank" href="https://www.linkedin.com/in/suraj-kale-6b91b0215">
                <i class="fa-brands fa-linkedin"></i></a>
            <a class="insta"    target="_blank" href="https://www.instagram.com/surajkale_10?igsh=MWxvaGl2c2VnZGZxZw==">
                <i class="fa-brands fa-instagram"></i></a>
        </div>
        
    </div>

     <!-- About page -->
     <div class="about">About</div>

    <div class="about-grid">
        <!-- Education Part -->

        <div class="education">
            <span>Education</span>
            <div class="10th"><b>10th</b> - Balasaheb bharde highschool,Shevgaon,Ahmednagar.</div>
            <div class="percentage">Percentage: <b>60%</b></div><br>
            <div class="12th"><b>12th</b> - Residential Jr. College of Science,Shevgaon</div>
            <div class="percentage">Percentage: <b>60.15%</b></div><br>
            <div class="graduation"><b>Graduated</b> - NBN Sinhgad School of Engineering,Ambegaon,Pune</div>
            <div class="cgpa">CGPA: <b>7.16 with first class</b></div>
        </div>

        <!-- Profession Part -->

        <div class="profession">
            <span>Profession</span>
            <div><b>Frontend Engineer</b></div>
            <div>Mean Stack Development Course Completed in year of 2022.</div><br>
            <div><b>Experience:</b> Fresher</div>
        </div>

        <!-- Skills Part -->

        <div class="skills">
            <span>Skills</span><br>
           <b>HTML5</b>
            <div class="outerdiv"><div class="innerdiv"></div></div>
            <b>CSS3</b>
            <div class="outerdivcss"><div class="innerdivcss"></div></div>
            <b>Javascript</b>
            <div class="outerdivJS"><div class="innerdivJS"></div></div>
            <b>Angular</b>
            <div class="outerdivAng"><div class="innerdivAng"></div></div>
            <b>NodeJS</b>
            <div class="outerdivNode"><div class="innerdivNode"></div></div>
            <b>MongoDB</b>
            <div class="outerdivMongo"><div class="innerdivMongo"></div></div>
        </div>

        <div class="currentaddress">
            <span>Current Address</span>
            <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Pune,Maharashtra</p>
            <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>surajkale755@mail.com</p>
            <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>9011934949</p>
        </div>

        <div class="mainaddress">
            <span>Permenant Address</span>
            <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Ahmednagar,Shevgaon</p>
            <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>surajkale755@mail.com</p>
            <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>9011934949</p>
        </div>
    </div>
           

    <!-- Blog Page -->

     <div class="blogs">Blogs</div>

    <div class="blog-grid">

        <div class="travel">

            <div id="travel">Explore Travel</div>
                <img width="430px" src="/Suraj-Portfolio/images/travels.jpg" alt="">
                <div class="para">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                     Voluptatem a vitae perspiciatis accusamus, quasi esse porro eligendi repellendus maxime quibusdam!</p>
                     <button>Read More</button>
                    </div>
                 </div>
    
            <div class="food">
                <div id="food">Explore Food</div>
                <img width="450px" src="/Suraj-Portfolio/images/food.jpg" alt="">
                <div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                     Voluptatem a vitae perspiciatis accusamus, quasi esse porro eligendi repellendus maxime quibusdam!</p>
                    </div>
                    <button>Read More</button>
                </div>
    
            <div class="nature">
                <div id="nature">Explore Nature</div>
                <img width="450px" src="/Suraj-Portfolio/images/nature.jpg" alt="">
                <div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                     Voluptatem a vitae perspiciatis accusamus, quasi esse porro eligendi repellendus maxime quibusdam!</p>
                    </div>
                    <button>Read More</button>
                </div>
    
             <div class="photography">
                <div id="photography">Explore Photography</div>
                <img height="300px" width="430px" src="/Suraj-Portfolio/images/photography.jpg" alt="">
                <div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                     Voluptatem a vitae perspiciatis accusamus, quasi esse porro eligendi repellendus maxime quibusdam!</p>
                    </div>
                    <button>Read More</button>
                </div>
    
            <div class="hotels">
                <div id="hotels">Explore Hotels</div>
                <img height="300px" width="450px" src="/Suraj-Portfolio/images/hotels.jpg" alt="">
                <div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                     Voluptatem a vitae perspiciatis accusamus, quasi esse porro eligendi repellendus maxime quibusdam!</p>
                    </div>
                    <button>Read More</button>
               </div>
               
            <div class="cities">
                <div id="cities">Explore Cities</div>
                <img width="450px" src="/Suraj-Portfolio/images/cities.jpg" alt="">
                <div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                     Voluptatem a vitae perspiciatis accusamus, quasi esse porro eligendi repellendus maxime quibusdam!</p>
                </div>
                <button>Read More</button>
                </div>
    </div>

     <!-- Contact Page -->

     <div class="contactSection">
        <form>
            <h1>Contact Me</h1>
            <div class="form-wrap">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text">
                </div><br>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text">
                </div><br>
                <div class="form-group">
                    <label>Message</label><br>
                    <textarea name="" id="" rows="20" cols="48"></textarea>
                </div><br>
                <button>Send Message</button>
            </div>
        </form>
    </div>

    <!-- footer -->

    <!-- <footer>
        <h1>I apologize to you...!</h1><br>
        Do Check out me
        <a href="">F</a><a href="">L</a><a href="">T</a>        
    </footer> -->
</body>
</html>
